@page "{id}"
@model ReadModel;

@{
    ViewData["Title"] = "Read Page";
}


<p>At <b>Falcon Movies</b>, we present to you:</p>

<h2>@Model.Product.Title</h2>
<div>
    <img src="@Model.Product.Image" alt="@Model.Product.Title Poster" style="max-width: 300px;" />
</div>
<br />

<h3>Description</h3>
<p>@Model.Product.Description</p>

<h3>Cast Details:</h3>
@foreach (var product in Model.Product.Cast)
{
    <li>@product</li>
}
<br />

<h4>Trailer</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Product.YouTubeID" frameborder="0" allowfullscreen></iframe>

@if (!string.IsNullOrEmpty(Model.Product.Genre))
{
    <h5>Genre:</h5>
    <p>@Model.Product.Genre</p>
}